/* <--------------------------------Newscontaiener css---------------------- */
 .bigContainer{
    /* border: 2px solid red; */
    height: 100%;
     background-color:  black;
      overflow: hidden 

 }
.container-fluides{
     border: 2px  solid saddlebrown;
    height: 100%;
}
h1{
    text-align: center;
    color: white;
}

/* <--------------------------------NewsNavbar css---------------------- */
.navbar{
	/* background-color: #404040; */
    background-color: aliceblue;
}
#logo{
    width: 80px;
    height: 30px;
}

.card-body{
    color: white;
}

.nav-item {
    text-decoration: none;
    list-style: none;

}
/* <--------------------------------topStories css---------------------- */
.container{
    height: 100%;
    background-color:  black;

}
/* --------------------MainStories css---------------------- */ 



